version: '3.2'
services:
  infracloudio_csvserver:
    image: infracloudio/csvserver:latest
    container_name: infracloudio_csvserver
    ports:
    - 9393:9300
    volumes:
    - ./inputFile:/csvserver/inputdata
    environment:
      CSVSERVER_BORDER: Orange
